In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
data_file = 'C:\\Users\\amorrow\\Documents\\inc5000_Extracts\\inc5000_appended_extract.csv'
df = pd.read_csv(data_file, low_memory=False)

In [8]:
df.head()

,Year,inc5000companyId,rank,company,workers,previous_workers,ceo_gender,website,state_s,city,growth,industry,name,zipcode,founded,ifc_business_model,raw_revenue,yrs_on_list
0,2010,21690,1.0,Ambit Energy,171.0,NaN,NaN,ambitenergy.com,TX,Dallas,20369.0,Energy,NaN,75202.0,2006.0,Provides electricity and natural gas services ...,324968084,1
1,2010,24742,2.0,ModCloth,100.0,NaN,NaN,www.modcloth.com,CA,San Francisco,17191.0,Retail,NaN,94107.0,2002.0,NaN,15591108,1
2,2010,17244,3.0,Luke & Associates,588.0,NaN,NaN,www.LukeAssoc.com,FL,Merritt Island,16637.0,Government Services,NaN,32955.0,2004.0,"Serves primarily the U.S. military, providing ...",37457232,1
3,2010,17245,4.0,Lexicon Consulting,50.0,NaN,NaN,lexiconinc.com,CA,San Diego,14018.0,Government Services,NaN,92018.0,2005.0,Lexicon trains Department of Defense and milit...,14392043,1
4,2010,17246,5.0,WDFA Marketing,46.0,NaN,NaN,www.WDFAMarketing.com,CA,San Francisco,13969.0,Advertising & Marketing,NaN,94133.0,2006.0,"WDFA Marketing specializes in guerilla, grassr...",17861317,1

In [18]:
company_count = df.groupby(['inc5000companyId','company']).size().sort_values(ascending=False).reset_index(name='Count').drop_duplicates(subset='company')
company_count

       inc5000companyId                   company  Count
0                   274                    Smarsh     13
1                100660  Zoup! Specialty Products     13
2                  1641                      Vyne     13
3                  4525   Katom Restaurant Supply     13
4                 18532          Allied Universal     13
...                 ...                       ...    ...
27594             82382                    DIVISA      1
27595             20313        Emery & Associates      1
27596             82391                Sociallyin      1
27597             82395             Artful Living      1
27598            146483            LRS Healthcare      1

[27546 rows x 3 columns]

In [43]:
df_years = df.groupby(['inc5000companyId','company'])['Year'].apply(list).reset_index(name='Years')
df_years

,inc5000companyId,company,Years
0,4,INE,"[2011, 2012, 2013, 2014]"
1,7,Freedom Health,"[2010, 2011]"
2,8,One Technologies,"[2010, 2011, 2012, 2013, 2014, 2015]"
3,9,MediaTrust,[2010]
4,10,Criterion Systems,"[2010, 2017, 2018, 2019, 2020, 2021]"
...,...,...,...
27594,146423,Wonderment Apps,[2022]
27595,146427,Northwood Industries,[2022]
27596,146431,Inflammo,[2022]
27597,146435,MFP Management & Construction,[2022]
27598,146483,LRS Healthcare,[2022]

In [98]:
df_years['Year_Count'] = df_years.apply(lambda row: len(row['Years']), axis=1)
df_years_sorted = df_years.sort_values(by=['Year_Count'],ascending=False)

,inc5000companyId,company,Years,Year_Count,Cont_Yr_Count
198,274,Smarsh,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13
20665,100660,Zoup! Specialty Products,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13
1136,1641,Vyne,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13
2912,4525,Katom Restaurant Supply,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13
5144,18532,Allied Universal,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13
...,...,...,...,...,...
18151,82382,DIVISA,[2022],1,1
6854,20313,Emery & Associates,[2011],1,1
18154,82391,Sociallyin,[2022],1,1
18155,82395,Artful Living,[2019],1,1
27598,146483,LRS Healthcare,[2022],1,1

In [99]:
# test_arr = [[2010,2011,2012,2013,2014,2015,2020,2021],
#             [2010,2011,2022],[2010,2011],[2010],[2010],
#             [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
#             [2015,2016,2019,2020,2021,2022],
#             [2010,2011,2012,2017,2018,2019,2020,2021]
# ]

def continuous_count(data):
    global_total = 1
    local_total = 1
    for i in range(1,len(data)):
        if int(data[i]) - int(data[i-1]) == 1:
            local_total += 1
            # print(local_total)
        else:
            if local_total > global_total:
                global_total = local_total
            local_total = 1

    return max(local_total,global_total)

In [100]:
# vals = []
# for k in test_arr:
#     val = continuous_count(k)
#     vals.append(val)
# vals
# # Answers: 6,2,2,1,1,13,4,5

In [130]:
df_years['Cont_Yr_Count'] = df_years.apply(lambda row: continuous_count(row['Years']), axis=1)
df_years['Filter_Col'] = df_years.apply(lambda x: 'Keep' if (x['Cont_Yr_Count'] >= 6) else 'Remove', axis=1)
df_years

,inc5000companyId,company,Years,Year_Count,Cont_Yr_Count,Filter_Col
0,4,INE,"[2011, 2012, 2013, 2014]",4,4,Remove
1,7,Freedom Health,"[2010, 2011]",2,2,Remove
2,8,One Technologies,"[2010, 2011, 2012, 2013, 2014, 2015]",6,6,Keep
3,9,MediaTrust,[2010],1,1,Remove
4,10,Criterion Systems,"[2010, 2017, 2018, 2019, 2020, 2021]",6,5,Remove
...,...,...,...,...,...,...
27594,146423,Wonderment Apps,[2022],1,1,Remove
27595,146427,Northwood Industries,[2022],1,1,Remove
27596,146431,Inflammo,[2022],1,1,Remove
27597,146435,MFP Management & Construction,[2022],1,1,Remove
27598,146483,LRS Healthcare,[2022],1,1,Remove

In [126]:
# # df_years.drop(['Dif'],axis=1, inplace=True)
# df_years.drop(['Filter'],axis=1, inplace=True)
# df_years.drop(['Filter_GE_6'],axis=1, inplace=True)
# df_years

In [230]:
# df_years.to_csv('C:\\Users\\amorrow\\Documents\\inc5000_Extracts\\inc5000_filterable.csv', index=False)

In [220]:
def continuous_count_desc(data):
    sorted_arr = sorted(data,reverse=True)
    local_total = 0
    if sorted_arr[0] == 2022:
        local_total += 1
        for i in range(0,len(sorted_arr)-1):
            if int(sorted_arr[i]) - int(sorted_arr[i+1]) == 1:
                local_total += 1
            else:
                break

    return local_total

In [221]:
# test_arr1 = [[2010,2011,2012,2013,2014,2015,2020,2021],
#             [2010,2011,2022],[2010,2011],[2010],[2010],
#             [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
#             [2015,2016,2019,2020,2021,2022],
#             [2010,2011,2012,2017,2018,2019,2020,2021]
# ]
# vals = []
# for k in test_arr1:
#     val = continuous_count_desc(k)
#     vals.append(val)
# vals

[0, 1, 0, 0, 0, 13, 4, 0]

In [226]:
df_years['Cont_Yr_Count_Desc'] = df_years.apply(lambda row: continuous_count_desc(row['Years']), axis=1)
df_years

,inc5000companyId,company,Years,Year_Count,Cont_Yr_Count,Filter_Col,Cont_Yr_Count_Desc
0,4,INE,"[2011, 2012, 2013, 2014]",4,4,Remove,0
1,7,Freedom Health,"[2010, 2011]",2,2,Remove,0
2,8,One Technologies,"[2010, 2011, 2012, 2013, 2014, 2015]",6,6,Keep,0
3,9,MediaTrust,[2010],1,1,Remove,0
4,10,Criterion Systems,"[2010, 2017, 2018, 2019, 2020, 2021]",6,5,Remove,0
...,...,...,...,...,...,...,...
27594,146423,Wonderment Apps,[2022],1,1,Remove,1
27595,146427,Northwood Industries,[2022],1,1,Remove,1
27596,146431,Inflammo,[2022],1,1,Remove,1
27597,146435,MFP Management & Construction,[2022],1,1,Remove,1
27598,146483,LRS Healthcare,[2022],1,1,Remove,1

In [227]:
sorted_df_years_count = df_years.sort_values(by='Cont_Yr_Count_Desc', ascending=False)
sorted_df_years_count

,inc5000companyId,company,Years,Year_Count,Cont_Yr_Count,Filter_Col,Cont_Yr_Count_Desc
198,274,Smarsh,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13,Keep,13
20665,100660,Zoup! Specialty Products,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13,Keep,13
190,265,Carahsoft Technology Corp,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13,Keep,13
5144,18532,Allied Universal,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13,Keep,13
1136,1641,Vyne,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13,Keep,13
...,...,...,...,...,...,...,...
9263,22836,Hiller,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]",8,8,Keep,0
9262,22834,Dirt Pros,[2010],1,1,Remove,0
9261,22830,International Cruise and Excursions,"[2014, 2015]",2,2,Remove,0
9260,22824,EnvisionRx,"[2013, 2014, 2015]",3,3,Remove,0
13799,37587,STAPLEGUN,"[2015, 2016]",2,2,Remove,0

In [228]:
sorted_df_years_count['Filter_Col_Desc_Count'] = sorted_df_years_count.apply(lambda x: 'Keep' if (x['Cont_Yr_Count_Desc'] >= 6) else 'Remove', axis=1)
sorted_df_years_count

,inc5000companyId,company,Years,Year_Count,Cont_Yr_Count,Filter_Col,Cont_Yr_Count_Desc,Filter_Col_Desc_Count
198,274,Smarsh,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13,Keep,13,Keep
20665,100660,Zoup! Specialty Products,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13,Keep,13,Keep
190,265,Carahsoft Technology Corp,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13,Keep,13,Keep
5144,18532,Allied Universal,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13,Keep,13,Keep
1136,1641,Vyne,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",13,13,Keep,13,Keep
...,...,...,...,...,...,...,...,...
9263,22836,Hiller,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]",8,8,Keep,0,Remove
9262,22834,Dirt Pros,[2010],1,1,Remove,0,Remove
9261,22830,International Cruise and Excursions,"[2014, 2015]",2,2,Remove,0,Remove
9260,22824,EnvisionRx,"[2013, 2014, 2015]",3,3,Remove,0,Remove
13799,37587,STAPLEGUN,"[2015, 2016]",2,2,Remove,0,Remove

In [231]:
#sorted_df_years_count.to_csv('filepath.csv', index=False)